<!DOCTYPE html>
<html>
<head>
<title>About Me</title>
<meta charset="UTF-8">
<link rel="shortcut icon" href="/public/images/Logo_TERRA_ITB.jpg"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">

<style>
.parallax {
  /* The image used */
  background-image: url("/public/about-images/288024.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 600px) {
.parallax {
    background-attachment: scroll;
    min-height: 250px;
    background-size: 1200px;
}
}
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
</style>
</head>
<body class="w3-black">

<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
  <!-- Avatar image in top left corner -->
  <img src="/public/about-images/288027.jpg" style="width:100%">
  <a href="/" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>TERRA</p>
  </a>
  <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>ABOUT</p>
  </a>
  <a href="#certificates" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="icon-collapse w3-xxlarge"></i>
    <p>CERTIFICATES</p>
  <a href="#photos" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-eye w3-xxlarge"></i>
    <p>PHOTOS</p>
  </a>

</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="/" class="w3-bar-item w3-button" style="width:25% !important">TERRA</a>
    <a href="#about" class="w3-bar-item w3-button" style="width:25% !important">ABOUT</a>
    <a href="#certificates" class="w3-bar-item w3-button" style="width:50% !important">CERTIFICATES</a>
  </div>
</div>
<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black parallax" id="home">
    <h1 class="w3-jumbo w3-text-black"><span class="w3-hide-small">TERRA  17066</span></h1>
    <p class="w3-text-black"><span class="w3-hide-small">Calon Insinyur </span></p><br>
    <p class="w3-text-white"><em>Kuliah di ITB bukan untuk akademik, tapi  <br> gimana caranya lulus dari ITB tahan banting - Afnimar, M.Sc., Ph.D.</em></p>
    <!-- <img src="/public/about-images/288024.jpg" alt="boy" class="w3-image" width="992" height="1108"> -->
  </header>

  <!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
    <h2 class="w3-text-light-grey">Bima Ilyasa</h2>
    <hr style="width:200px" class="w3-opacity">
    <div class="w3-col m6 w3-center w3-padding-large w3-hide-medium w3-hide-large">
      <p><b><i class="w3-left"></i>Foto Tingkat 2</b></p>
      <img src="/public/about-images/288027.jpg" class="w3-round w3-image w3-opacity w3-hover-opacity-off" alt="Photo of Me" width="100%">
    </div>
    <p>
        Sebagai bentuk pelarian pada tugas akhir, aku ciptakan website ini, terutama sebagai belajar ilmu baru
        dan juga sebagai pembelajaran kepada himpunan tercinta aku, bahwa aku akan selalu berusaha sebisa aku
        <em>tapi dengan cara aku</em>. Aku merupakan mahasiswa tingkat mentok yang telah memiliki beberapa
        pengalaman di kampus aku, dari menjadi panitia lapangan, mengkaji aturan dan struktur perusahaan, strategi
        psikologi dalam penarikan aspirasi, mengikuti pergerakan mahasiswa di Bandung dan Jakarta, beberapa acara
        kepemimpinan dari teori sampai praktis di jalanan. Ilmu yang aku yakin ga semua bakal di pake di dunia
        kerja, tapi ilmu yang dipakai selama menjalani hidup yang berat untuk kita semua.
    </p>
    
    <h3 class="w3-padding-16 w3-text-light-grey w3-center">My Skills</h3>
    <p class="w3-wide">Python</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:95%"></div>
    </div>
    <p class="w3-wide">Microsoft Office</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:70%"></div>
    </div>
    <p class="w3-wide">JavaScript, HTML, CSS</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:20%"></div>
    </div><br>
    
    <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">2</span><br>
        Mantan
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">1000+</span><br>
        Total Seri
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">50+</span><br>
        Matkul ga lulus
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">150+</span><br>
        <em>Existential Crisis (2018-2023)</em>
      </div>
    </div>
<!-- <div class="w3-light-grey w3-center w3-padding-small w3-section">
    <button class="w3-button w3-light-grey w3-padding-small w3-section">
      <i class="fa fa-download"></i> Download Resume
    </button>
</div> -->
</div>

    <!-- Grid for pricing tables -->
    <!-- <h3 class="w3-padding-16 w3-text-light-grey">My Price</h3>
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-half w3-margin-bottom">
        <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
          <li class="w3-dark-grey w3-xlarge w3-padding-32">Basic</li>
          <li class="w3-padding-16">Web Design</li>
          <li class="w3-padding-16">Photography</li>
          <li class="w3-padding-16">5GB Storage</li>
          <li class="w3-padding-16">Mail Support</li>
          <li class="w3-padding-16">
            <h2>$ 10</h2>
            <span class="w3-opacity">per month</span>
          </li>
          <li class="w3-light-grey w3-padding-24">
            <button class="w3-button w3-white w3-padding-large w3-hover-black">Sign Up</button>
          </li>
        </ul>
      </div>

      <div class="w3-half">
        <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
          <li class="w3-dark-grey w3-xlarge w3-padding-32">Pro</li>
          <li class="w3-padding-16">Web Design</li>
          <li class="w3-padding-16">Photography</li>
          <li class="w3-padding-16">50GB Storage</li>
          <li class="w3-padding-16">Endless Support</li>
          <li class="w3-padding-16">
            <h2>$ 25</h2>
            <span class="w3-opacity">per month</span>
          </li>
          <li class="w3-light-grey w3-padding-24">
            <button class="w3-button w3-white w3-padding-large w3-hover-black">Sign Up</button>
          </li>
        </ul>
      </div>
    </div>-->
<!-- End Grid/Pricing tables  -->
    
    <!-- Testimonials -->
    <h3 class="w3-padding-24 w3-text-light-grey" id="certificates">My Certificates</h3>  
    <img src="/public/about-images/certificates/Data Set 169.jpg" alt="Avatar" class="w3-right  w3-mobile" style="width:500px">
    <p><span class="w3-large w3-margin-right">KM ITB</span> Panitia Lapangan - Keamanan</p>
    <p></p>
    <hr style="width:100%" class="w3-opacity w3-center w3-hide-medium w3-hide-large">
    <div class="w3-hide-small">
      <hr style="width:56.5%" class="w3-opacity w3-left">
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>

    <img src="/public/about-images/certificates/Bima Ilyasa - Intro to Programming.png" alt="Avatar" class="w3-left w3-margin-right w3-mobile" style="width:500px">
    <p><span class="w3-large w3-margin-right">Kaggle</span> Intro to Programming</p>
    <p>Learning the basics of programming in general, to know the flow of thinking in programming</p>

    <hr style="width:100%" class="w3-opacity w3-center w3-hide-medium w3-hide-large">
    <div class="w3-hide-small">
      <hr style="width:55%" class="w3-opacity w3-right">
      <br><br><br><br><br><br><br><br><br><br>
    </div>

    <img src="/public/about-images/certificates/Bima Ilyasa - Python.png" alt="Avatar" class="w3-right w3-margin-right  w3-mobile" style="width:500px">
    <p><span class="w3-large w3-margin-right">Kaggle</span> Intro to Programming</p>
    <p>Starting the basics of python, from if statements, booleans, objects, and working with external libraries</p><br>
    
    <hr style="width:100%" class="w3-opacity w3-center w3-hide-medium w3-hide-large">
    <div class="w3-hide-small"></div>
    <div class="w3-hide-small">
      <hr style="width:55%" class="w3-opacity w3-left">
      <br><br><br><br><br><br><br><br><br>
    </div>

    <img src="/public/about-images/certificates/Bima Ilyasa - Pandas.png" alt="Avatar" class="w3-left w3-margin-right  w3-mobile" style="width:500px">
    <p><span class="w3-large w3-margin-right">Kaggle</span> Pandas</p>
    <p>The basics of data analysis, working with data frames from preprocessing like filtering the datas to analyzing the data with graphs</p>

    <hr style="width:100%" class="w3-opacity w3-center w3-hide-medium w3-hide-large">
    <div class="w3-hide-small">
      <hr style="width:55%" class="w3-opacity w3-right">
      <br><br><br><br><br><br><br><br><br><br>
    </div>

    <img src="/public/about-images/certificates/Bima Ilyasa - Intro to Machine Learning.png" alt="Avatar" class="w3-right w3-margin-right  w3-mobile" style="width:500px">
    <p><span class="w3-large w3-margin-right">Kaggle</span> Intro to Machine Learning</p>
    <p>The start of scikit learn machine learning, with mostly learning random forest classifier</p>

    <hr style="width:100%" class="w3-opacity w3-center w3-hide-medium w3-hide-large">
    <div class="w3-hide-small">
      <hr style="width:55%" class="w3-opacity w3-left">
      <br><br><br><br><br><br><br><br><br><br>
    </div>

    <img src="/public/about-images/certificates/Bima Ilyasa - Intermediate Machine Learning.png" alt="Avatar" class="w3-left w3-margin-right  w3-mobile" style="width:500px">
    <p><span class="w3-large w3-margin-right">Kaggle</span> Intermediate Machine Learning</p>
    <p>A review of the introduction, with a continuation into pipelines, XGBoost, cross correlation, and validations</p>

    <hr style="width:100%" class="w3-opacity w3-center w3-hide-medium w3-hide-large">
    <div class="w3-hide-small">
      <hr style="width:55%" class="w3-opacity w3-right">
      <br><br><br><br><br><br><br><br><br><br>
    </div>
    
  
  <!-- End About Section -->
  </div>
  
  <!-- Portfolio Section -->
  <div class="w3-padding-64 w3-content" id="photos">
    <h2 class="w3-text-light-grey">My Photos</h2>
    <hr style="width:200px" class="w3-opacity">

    <!-- Grid for photos -->
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-half">
        <img src="/public/about-images/288031.jpg" style="width:100%">
        <img src="/public/about-images/288023.jpg" style="width:100%">
        <img src="/public/about-images/288028.jpg" style="width:100%">
      </div>

      <div class="w3-half">
        <img src="/public/about-images/288029.jpg" style="width:100%">
        <img src="/public/about-images/288030.jpg" style="width:100%">
        <img src="/public/about-images/288033.jpg" style="width:100%">
        <img src="/public/about-images/288032.jpg" style="width:100%">
      </div>
    <!-- End photo grid -->
    </div>
  <!-- End Portfolio Section -->
  </div>

  <!-- Contact Section -->
  <div class="w3-padding-64 w3-content w3-text-grey w3-center" id="contact">
    <h2 class="w3-text-light-grey">Contact Me</h2>
    <hr style="width:100%" class="w3-opacity w3-center">

    <div class="w3-section">
      <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Bandung, Indonesia</p>
      <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Phone: +62 12317066</p>
      <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: pourleterres@gmail.com</p>
    </div><br>
    <!-- <p>Let's get in touch. Send me a message:</p>

    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Subject" required name="Subject"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Message" required name="Message"></p>
      <p>
        <button class="w3-button w3-light-grey w3-padding-large" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </p>
    </form> -->
  <!-- End Contact Section -->
  </div>
  
    <!-- Footer -->
  <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
    <!-- <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i> -->
    <p class="w3-medium">Powered by <a href="semangat terra" target="_blank" class="w3-hover-text-green">TERRA</a></p>
  <!-- End footer -->
  </footer>

<!-- END PAGE CONTENT -->
</div>

</body>
</html>
