<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://digitalupgrade.com/images/misc/RobotoFlex-VariableFont_GRADXTRAYOPQYTASYTDEYTFIYTLCYTUCopszslntwdthwght.woff2">
    <style>
    
	html {
        font-family: "Roboto Flex";
        src:url("https://digitalupgrade.com/images/misc/RobotoFlex-VariableFont_GRADXTRAYOPQYTASYTDEYTFIYTLCYTUCopszslntwdthwght.woff2") format("woff2")}
    html,body{font-family: 'Roboto Flex' sans-serif;}
    .group-hover\:transition-transform{
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
        animation-direction: alternate;}

    .num
        {font-size: 10rem;
        line-height: 0.9;
        font-weight: 550;
        font-variation-settings:  'wdth' 35, 'YTFI' 788}

    .stretch
        {font-weight: 500;
        font-variation-settings: 'wdth' 35;
        writing-mode: vertical-rl}
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="relative py-8 sm:py-8 xl:py-3 min-w-screen min-h-screen flex items-center justify-center text-white">
        <div class="grid border-x lg:grid-cols-6 sm:grid-cols-3 grid-cols-2 lg:divide-x divide-solid divide-white">
            <article class="group h-full flex flex-col divide-y text-sm text-center divide-gray-400 px-2">
                <div class="sm:pb-8 pb-3 num">1</div>
                <div class="sm:py-3 py-1.5 uppercase font-light">Herman Hesse</div>
                <div class="sm:h-28 h-20 flex items-center text-xs">
                    <p class="break-words font-light whitespace-pre-line mx-auto w-28">Professionalism is dedication multiplied on time</p>
                </div>
                <div class="sm:py-3 py-1.5 uppercase">Page 56</div>
                <div class="py-8 text-9xl relative">
                    <q class="text-xs absolute sm:top-28 top-24 left-[8%] max-w-[84%]">
                        But if I do not go along with your sadness, do not let myself be infected by it, that does not mean I don't recognize it or take it seriously.
                    </q>
                    <div class="sm:pt-36 pt-32 sm:pb-0 pb-1 uppercase w-full max-w-full -scale-100 stretch bg-black sm:group-hover:-translate-y-56 group-hover:-translate-y-44 group-hover:transition-transform flex items-center">Pro</div>
                </div>
            </article>
            <article class="group border-l lg:border-l-0 h-full flex flex-col divide-y text-sm text-center divide-gray-400 px-2">
                <div class="sm:pb-8 pb-3 num">2</div>
                <div class="sm:py-3 py-1.5 uppercase font-light">Bob Dylan</div>
                <div class="sm:h-28 h-20 flex items-center text-xs">
                    <p class="break-words font-light whitespace-pre-line mx-auto w-28">Society is mainly designed by it's cultural elites</p>
                </div>
                <div class="sm:py-3 py-1.5  uppercase">Page 85</div>
                <div class="py-8 text-9xl relative">
                    <q class="text-xs absolute top-28 left-[8%] max-w-[84%]">
                        what a drag it gets to be. writing for this chosen few. writing for anyone cpt you.
                    </q>
                    <div class="sm:pt-8 pt-4 sm:pb-0 pb-1 uppercase w-full max-w-full -scale-100 stretch bg-black sm:group-hover:-translate-y-56 group-hover:-translate-y-44 group-hover:transition-transform flex items-center">Design</div>
                </div>
            </article>
            <article class="group lg:border-l-0 sm:border-l border-l-0 h-full flex flex-col divide-y text-sm text-center divide-gray-400 px-2">
                <div class="sm:pb-8 pb-3 num">3</div>
                <div class="sm:py-3 py-1.5 uppercase font-light">Isaac Asimov</div>
                <div class="sm:h-28 h-20 flex items-center text-xs">
                    <p class="break-words font-light whitespace-pre-line mx-auto w-28">Exploration of unknown is all about warm heart</p>
                </div>
                <div class="sm:py-3 py-1.5 uppercase">Page 27</div>
                <div class="py-8 text-9xl relative">
                    <q class="text-xs absolute top-32 left-[8%] max-w-[84%]">
                        It's your fiction that interests me. Your studies of the interplay of human motives and emotion.
                    </q>
                    <div class="pt-12 sm:pb-0 pb-1 uppercase w-full max-w-full -scale-100 stretch bg-black sm:group-hover:-translate-y-56 group-hover:-translate-y-44 group-hover:transition-transform flex items-center">About</div>
                </div>
            </article>
            <article class="group border-l sm:border-l-0 h-full flex flex-col divide-y text-sm text-center divide-gray-400 px-2">
                <div class="sm:pb-8 pb-3 num">4</div>
                <div class="sm:py-3 py-1.5 uppercase font-light">Phillip K. Dick</div>
                <div class="sm:h-28 h-20 flex items-center text-xs">
                    <p class="break-words font-light whitespace-pre-line mx-auto w-28">Personality is product of the mind, not surroundings</p>
                </div>
                <div class="sm:py-3 py-1.5 uppercase">Page 119</div>
                <div class="py-8 text-9xl relative">
                    <q class="text-xs absolute sm:top-36 top-36 left-[8%] max-w-[84%]">
                        It's the basic condition of life to be required to violate our own identity.
                    </q>
                    <div class="pt-8 sm:pb-0 pb-1 uppercase w-full max-w-full -scale-100 stretch bg-black sm:group-hover:-translate-y-56 group-hover:-translate-y-44 group-hover:transition-transform flex items-center">
                        Product
                    </div>
                
                </div>
            </article>
            <article class="group lg:border-l-0 sm:border-l border-l-0 h-full flex flex-col divide-y text-sm text-center divide-gray-400 px-2">
                <div class="sm:pb-8 pb-3 num">5</div>
                <div class="sm:py-3 py-1.5 uppercase font-light">Agota Kristof</div>
                <div class="sm:h-28 h-20 flex items-center text-xs">
                    <p class="break-words font-light whitespace-pre-line mx-auto w-28">Code of conduct is just another rule to be broken</p>
                </div>
                <div class="sm:py-3 py-1.5 uppercase">Page 54</div>
                <div class="py-8 text-9xl relative">
                    <q class="text-xs absolute sm:top-28 top-16 left-[8%] max-w-[84%]">
                        “You don't want to fight the enemy anymore?"<br>"I don't want to fight anyone. I have no enemies. I want to go home.” 
                    </q>
                    <div class="sm:pt-24 pt-8 sm:pb-0 pb-1 uppercase w-full max-w-full -scale-100 stretch bg-black sm:group-hover:-translate-y-56 group-hover:-translate-y-44 group-hover:transition-transform flex items-center">Code</div>
                </div>
            </article>
            <article class="group border-l lg:border-l-0  h-full flex flex-col divide-y text-sm text-center divide-gray-400 px-2">
                <div class="sm:pb-8 pb-3 num">6</div>
                <div class="sm:py-3 py-1.5 uppercase font-light">Stanislaw Lem</div>
                <div class="sm:h-28 h-20 flex items-center text-xs">
                    <p class="break-words font-light whitespace-pre-line mx-auto w-28">Technologies are only exposing human nature</p>
                </div>
                <div class="sm:py-3 py-1.5 uppercase">Page 213</div>
                <div class="py-8 text-9xl relative">
                    <q class="text-xs absolute sm:top-28 top-16 left-[8%] max-w-[84%]">
                        We have no need of other worlds. We need mirrors. We don't know what to do with other worlds.
                    </q>
                    <div class="sm:pt-24 pt-8 sm:pb-0 pb-1 uppercase w-full max-w-full -scale-100 stretch bg-black sm:group-hover:-translate-y-56 group-hover:-translate-y-44 group-hover:transition-transform flex items-center">Tech</div>
                </div>
            </article>
        </div>
    </div>
</body>
</html>