<!DOCTYPE html>
<html>
<head>
<title>HIMA TG "TERRA" ITB</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="/public/images/Logo_TERRA_ITB.jpg"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link href="css-circular-prog-bar.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
.parallax {
  /* The image used */
  background-image: url('/public/images/Logo_TERRA_ITB.jpg');

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.miniparallax1,.miniparallax2,.miniparallax3, .miniparallax4{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Indonesia) */
.miniparallax1 {
  background-image: url('/public/images/indonesia-flag-wrinkled-dark-background-3d-render_1379-584.jpg');
  background-position: left;
  min-height: 100%;
  background-size: 130%;
  background-repeat: repeat;
  background-attachment: scroll;
}
.miniparallax1m {
  background-image: url('/public/images/indonesia-flag-wrinkled-dark-background-3d-render_1379-584.jpg');
  background-position: left;
  min-height: 250px;
  background-size: 150%;
  background-repeat: no-repeat;
}

/* Second image (Geophysics) */
.miniparallax2 {
  background-attachment: scroll;
  background-image: url("/public/images/geophysics.png");
  background-size: 100%;
  min-height: 100%;
}
.miniparallax2m {
  background-image: url("/public/images/geophysics.png");
  background-size: 100%;
  min-height: 150%;
}

/* Third image (Metaphysics) */
.miniparallax3 {
  background-image: url("/public/images/zenstoic-iconrough_dark.png");
  background-position: center;
  background-attachment: scroll;
  background-size: 110%;
  min-height: 100%;
}
.miniparallax3m {
  background-image: url("/public/images/zenstoic-iconrough_dark.png");
  background-position: right;
  background-size: 100%;
  min-height: 100%;
}

/* Fourth image (ITB) */
.miniparallax4 {
  background-image: url("/public/images/Logo_Institut_Teknologi_Bandung.png");
  background-position: center;
  background-color: #1F1A17;
  background-size: 60%;
  min-height: 30%;
}

h1 {
  font-family: "Arial Black";
  font-size: 32px;
}
h2,h3{
  font-family: "Roboto";
  font-size: 22px;
  letter-spacing: 3px;
}
h4,h5,h6 {
  font-family: "Roboto";
  font-size: 16px;
  text-align: justify;
  letter-spacing: 3px;
}
body, html {
  height: 100%;
  color: #000000; /*#ff2600*/
  line-height: 1.8;
}
.text-justify {
  display: flex;
  justify-content: space-around;
}
#mnt {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-around;
}
#mnt div {
  width: 30%;
  height: 100%;
}
#inmnt {
  width: 100%;
  height: 250px;
}
#inmnt div {
  width: 100%;
  height: 200px;
}
.historycolor {
  background-color:#1F1A17;
  width: 100%;
}
.line1 {
  width: 91%;
  height: 15%;
  border: 3px solid #C4C4C4;
  border-radius: 50px 50px 50px 50px;
  margin: 3px;
  display:inline-block;
}
.line2 {
  width: 47%;
  height: 15%;
  border: 3px solid #C4C4C4;
  border-radius: 50px 50px 50px 50px;
  margin: 3px;
  display:inline-block;
}
.line3 {
  width: 60%;
  height: 15%;
  border: 3px solid #C4C4C4;
  border-radius: 50px 50px 50px 50px;
  margin: 3px;
  display:inline-block;
}
.transision1,.transision2,.transision3 {
  position: relative;
  opacity: 0;
  transition: 0.8s;
  padding-top:1%;
  padding-bottom:65%;
}
.transision1:hover,.transision2:hover,.transision3:hover {
  opacity: 1;
}
.transision1{
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: brightness(50%);
}
.transision2{
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: brightness(40%);
}
.transision3{
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: brightness(30%);
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 600px) {
  .miniparallax1,.miniparallax2,.miniparallax3, .miniparallax4{
    background-attachment: scroll;
    min-height: 200px;
  }
  .transision2,.transision3{
    padding-top:5%;
    padding-bottom:10%;
  }
  .transision1{
    padding-top:10%;
    padding-bottom: 27%;
  }
}

/* Not Used ATM */
.animate {
  width: 100px;
  height: 100px;
  position: relative;
  visibility: visible;
}
.animate:hover {
  background-color: #000000;
  animation-name: example;
  animation-duration: 4s;
  animation-direction: normal;  
  animation-iteration-count: 1;
  visibility: hidden;
}
@keyframes example {
  0%   {left:0px; top:0px;opacity: 0;}
  100% {background-color:rgb(15, 13, 13); left:0px; top:0px;}
}
.circle-bar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(hotpink 75%, pink 0);    
}
</style>
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-text-white" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars w3-black"></i>
    </a>

    <a href="#home" class="w3-bar-item w3-button">HOME</a>
    <a href="#terra" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i> TERRA</a>
    <div class="w3-dropdown-hover w3-animate-top">
      <button class="w3-button w3-hide-small"><i class="fa fa-arrow-up"></i> DOCUMENTS</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-black">
        <a href="/public/files/ANGGARAN DASAR DAN ANGGARAN RUMAH TANGGA HIMA TG TERRA ITB Amandemen 2022.pdf" class="w3-bar-item w3-button w3-animate-right" download>AD/ART</a>
        <a href="/public/files/GDK HIMA TG TERRA ITB .pdf" class="w3-bar-item w3-button w3-animate-left" download>GDK</a>
      </div>
    </div>
    <a href="./mtzen" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"></i> MT ZEN</a>
    <a href="./register" class="w3-bar-item w3-button w3-hide-small"><i class="icon-pencil"></i> REGISTER</a>
    <a href="./about-me" class="w3-bar-item w3-button w3-hide-small w3-right"></a>
    <!-- <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-red">
      <i class="fa fa-search"></i>
    </a> -->
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium">
    <a href="#terra" class="w3-bar-item w3-button" onclick="toggleFunction()">TERRA</a>

    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-black" href="javascript:void(0);" onclick="Opendoc()" title="Toggle Navigation Menu">
      DOCUMENTS
    </a>

    <div id="document" class="w3-bar-block w3-black w3-hide" onclick="Opendoc()">
      <a href="/public/files/ANGGARAN DASAR DAN ANGGARAN RUMAH TANGGA HIMA TG TERRA ITB Amandemen 2022.pdf" class="w3-bar-item w3-button w3-black  w3-animate-left" download>Anggaran Dasar dan Anggaran Rumah Tangga</a>
      <a href="/public/files/GDK HIMA TG TERRA ITB .pdf" class="w3-bar-item w3-button w3-black w3-animate-right" download>Grand Design Kaderisasi</a>
    </div>
    <a href="#sejarahpenemu" class="w3-bar-item w3-button" onclick="toggleFunction()">MT ZEN</a>
    <a href="./register" class="w3-bar-item w3-button" onclick="toggleFunction()">REGISTER</a>
    <!-- <a href="#" class="w3-bar-item w3-button">SEARCH</a> -->
  </div>
</div>

<!-- Keterangan TERRA -->
<div class="parallax w3-display-container clear" id="home">
  <div class="w3-display-middle">
    <span class="w3-center w3-padding-large w3-text-white w3-xxlarge w3-wide" style="text-shadow:3px 3px 0 #444"> <b><span class="w3-hide-small w3-hide-medium">HIMA TG "</span>TERRA<span class="w3-hide-small w3-hide-medium">"ITB</span></b></span>
  </div>
</div>

<!-- Container (Sejarah TERRA) -->
<div class="w3-center w3-container w3-padding-64 w3-text-black" id="terra">
  <h1 class="w3-xxlarge w3-wide w3-center w3-text-black">TERRA</h1>
  <h2 class="w3-center">Himpunan Mahasiswa Teknik Geofisika "TERRA" Institut Teknologi Bandung</h3>
    <br>
  <h5 style="text-align: center;">
    Saya adalah organisasi mahasiswa yang berasas kemahasiswaan yang berdasarkan nilai-nilai kebenaran
    hakiki yang universal, dengan sifat yang saya miliki : 
  </h5>
  <br>
  <h5 style="text-align: center;">Kekeluargaan yang demokratis, kemahasiswaan, dan profesionalisme yang tinggi.</h5>
  <div class="line2"></div>
  <h5 style="text-align: center;">Berdaulat sepenuhnya dalam menentukan kebijaksanaan dan saling menghormati
    dengan pihak manapun di luar HIMA TG “TERRA” ITB serta bertanggung jawab
    secara kelembagaan ITB.</h5>
    <div class="line1"></div>
  <h5 style="text-align: center;">Menjunjung tinggi lembaga kemahasiswaan tertinggi yang membawa aspirasi seluruh
    mahasiswa ITB.</h5>
    <div class="line3"></div>
</div>

<!-- Container (Maksud dan Tujuan TERRA) -->
<div class="w3-container">
  <h2 class="w3-xxlarge w3-padding-16 w3-center w3-text-black w3-round-xlarge">Maksud dan Tujuan Saya</h2>

  <!-- Container Medium and Large (Maksud dan Tujuan TERRA) -->
  <div id="mnt" class="w3-row-padding w3-hide-small">
    <div id="inmnt" class="miniparallax1 w3-round-xlarge" style="box-shadow:3px 3px 0 #444">
      <div class="transision1 w3-round-xlarge w3-text-white">
        <h3 class="w3-row-padding w3-center">Pertama</h3>
        <h5 class="w3-row-padding w3-center">
          Ikut menunjang dan membantu penyelenggaraan pendidikan di ITB dalam pencapaian
          tujuan pendidikan nasional.
        </h5>
      </div>
    </div>

    <div id="inmnt" class="miniparallax2 w3-round-xlarge" style="box-shadow:3px 3px 0 #444">
      <div class="transision2 w3-round-xlarge w3-text-white">
        <h3 class="w3-row-padding w3-center">Kedua</h3>
        <h5 class="w3-row-padding w3-center">
          Ikut membimbing dan menyalurkan cipta, karsa dan karya mahasiswa Teknik
          Geofisika ITB dalam rangka membentuk sarjana teknik geofisika yang menjunjung
          tinggi nilai-nilai kebenaran dan profesionalisme.
        </h5>
      </div>
    </div>

    <div id="inmnt" class="miniparallax3 w3-round-xlarge" style="box-shadow:3px 3px 0 #444">
      <div class="transision3 w3-round-xlarge w3-text-white">
        <h3 class="w3-center" style="position: 5000px;">Ketiga</h3>
        <h5 class="w3-row-padding w3-center">
          Memelihara dan mempererat rasa kekeluargaan serta mengusahakan kesejahteraan
          materiel dan spritual anggota HIMA TG “TERRA” ITB dalam proses pembaharuan
          menuju ke arah perbaikan dunia perguruan tinggi khususnya di ITB dan perguruan
          tinggi di Indonesia pada umumnya.
        </h5>
      </div>
    </div>
  </div>

  <!-- Container Small (Maksud dan Tujuan TERRA) -->
  <div class="w3-container w3-row w3-hide-large w3-hide-medium">

    <div class="w3-col miniparallax1m w3-round-xlarge" style="box-shadow:3px 3px 0 #444">
      <div class="w3-row-padding transision1 w3-round-xlarge w3-text-white">
        <h3 class="w3-center">Pertama</h3>
        <h5 class="w3-center">
          Ikut menunjang dan membantu penyelenggaraan pendidikan di ITB dalam pencapaian
          tujuan pendidikan nasional.
        </h5>
      </div>
    </div>

    <div class="w3-col miniparallax2m w3-round-xlarge" style="box-shadow:3px 3px 0 #444">
      <div class="w3-row-padding transision2 w3-round-xlarge w3-text-white">
        <h3 class="w3-center">Kedua</h3>
        <h5 class="w3-center">
          Ikut membimbing dan menyalurkan cipta, karsa dan karya mahasiswa Teknik
          Geofisika ITB dalam rangka membentuk sarjana teknik geofisika yang menjunjung
          tinggi nilai-nilai kebenaran dan profesionalisme.
        </h5>
      </div>
    </div>

    <div class="w3-col miniparallax3m w3-round-xlarge" style="box-shadow:3px 3px 0 #444">
      <div class="w3-row-padding transision3 w3-round-xlarge w3-text-white">
        <h3 class="w3-center">Ketiga</h3>
        <h5 class="w3-center">
          Memelihara dan mempererat rasa kekeluargaan serta mengusahakan kesejahteraan
          materiel dan spritual anggota HIMA TG “TERRA” ITB dalam proses pembaharuan
          menuju ke arah perbaikan dunia perguruan tinggi khususnya di ITB dan perguruan
          tinggi di Indonesia pada umumnya.
        </h5>
      </div>
    </div>
  </div>
</div>

</div>

<!-- Container (Sejarah Lanjutan TERRA) -->
<br>
<div class="w3-row w3-container w3-display-container" style="block-size: 85%;">
  <div class="historycolor w3-text-white w3-col m6 w3-center w3-padding-large">
    <p><b><i class="w3-text-white fa fa-user w3-margin-right"></i>Logo TERRA</b></p><br>
    <img src="/public/images/Logo_TERRA_ITB.jpg" class="w3-round w3-image" alt="Photo of TERRA" width="500" height="333">
  </div>
  <!-- Hide this text on small devices -->
  <div class="w3-text-white w3-col m7 w3-hide-small w3-padding-large" style="background-color: rgb(35, 35, 35);position:absolute; top:50px; right:0;z-index: -1;">
    <h5 class="w3-text-yellow" style="margin-left: 95px" >&#9866;SEJARAH AKU</h5>
    <h2 class="w3-xxlarge" style="margin-left: 95px">Nama dan Berbagai Himpunan Sebelumku</h2>
    <span class="w3-container w3-content" style="display: inline-block;margin-left: 80px;font-size: 16px;text-align: justify;font-family: Arial;color: #d2d3d3;">
        Diciptakan pada tanggal 13 Juli 1998 di Bandung dengan nama panggilan saya dicetuskan oleh 
        Mudaham Taufick Zen (MT Zen), saya menjadi organisasi berbasis keprofesian jurusan Teknik Geofisika 
        Institut Teknologi Bandung. Walaupun sejarah saya baru sebentar, teknik geofisika sudah berada jauh 
        sebelum saya.
    </span>
    <br>
    <br>
    <br>
      <ul style="margin-left: 80px;font-size: 16px;font-family: Arial;font-size: 16px;text-align: justify;color: #d2d3d3;">
        <li>Dari geologi, teknik geofisika terbentuk pada tahun 1988 lalu memisahkan dirinya
          dari geologi pada tahun 1998.</li>
        <li>Dari meteorologi, tahun 1961 terbentuk departemen geofisika dan
          meteorologi (GM) dengan himpunan mereka (HMGM) pada tahun 1998 terjadi perpecahan menjadi KMGP, KMO 
          dan KMME</li>
        <li>Dari fisika, terutama pada kelompok keahlian fisika bumi dan sistem kompleks.</li>
      </ul>
  </div>
</div>

<!-- Container (Kondisi Aku Sekarang) -->
<div class="w3-container w3-padding-64 w3-text-black">
  <h2 class="w3-xxlarge w3-large w3-center w3-padding-16">Kondisi Aku Sekarang : <br><em class="w3-large" >Click on my values</em> </h2>
  <div class="w3-content">
    <button id="dockekeluargaan" class="w3-button w3-wide w3-light-grey w3-round-xlarge w3-hide-small"  style="height:45px;width:30%" onclick="kekeluargaan()"><i class="fa fa-user"></i>Kekeluargaan</p></button>
    <button id="dockekeluargaanm" class="w3-button w3-wide w3-light-grey w3-round-xlarge w3-hide-medium w3-hide-large" style="height:40px;width:74%;margin-left: 13%;" onclick="kekeluargaanm()"><i class="fa fa-user"></i>Kekeluargaan</p></button>
  <br>
  <br>
  <div class="w3-light-grey w3-round-xlarge" style="height:40px;width:100%">
    <div id="kekeluargaan" class="w3-large w3-padding-large progress-bar progress-bar-striped active w3-container w3-padding-small w3-deep-orange w3-round-xlarge" style="height:40px;width:10%">??<span class="w3-hide-small">%</span></div>
  </div>
  <br>
  <br>
  <button  id="docprofesionalitas" class="w3-button w3-wide w3-light-grey w3-round-xlarge w3-hide-small"  style="height:45px;width:35%" onclick="profesionalitas()"><i class="fa fa-laptop"></i>Profesionalitas</button>
  <button  id="docprofesionalitasm" class="w3-button w3-wide w3-light-grey w3-round-xlarge w3-hide-medium w3-hide-large"  style="height:40px;width:86%;margin-left: 7%;" onclick="profesionalitasm()"><i class="fa fa-laptop"></i>Profesionalitas</button>
  <br>
  <br>
  <div class="w3-light-grey w3-round-xlarge" style="height:40px;width:100%">
    <div id="profesionalitas" class="w3-large w3-padding-large progress-bar progress-bar-striped active w3-container w3-padding-small w3-deep-orange w3-round-xlarge" style="height:40px;width:10%">??<span class="w3-hide-small">%</span></div>
  </div>
  <br>
  <br>
  <button id="docsemangat" class="w3-button w3-wide w3-light-grey w3-round-xlarge w3-hide-small"  style="height:40px;width:25%" onclick="semangat()"><i class="fa fa-arrow-up"></i>Semangat</p></button>
  <button id="docsemangatm" class="w3-center w3-button w3-wide w3-light-grey w3-round-xlarge w3-hide-medium w3-hide-large"  style="height:40px;width:60%;margin-left: 20%;" onclick="semangatm()"><i class="fa fa-arrow-up"></i>Semangat</p></button>
  <br>
  <br>
  <div class="w3-light-grey w3-round-xlarge" style="height:40px;width:100%">
    <div id="semangat" class="w3-large w3-padding-large  progress-bar progress-bar-striped active w3-container w3-deep-orange w3-round-xlarge" style="height:40px;width:10%">??<span class="w3-hide-small">%</span></div>
  </div>
  </div>
</div>

<!-- Second Parallax Image with Sejarah Pengurus -->
<div id="sejarahpenemu" class="miniparallax4 w3-display-container">
  <div class="w3-display-middle">
    <h2 class="w3-xxlarge w3-text-white w3-wide">Sejarah Penemu</h2>
  </div>
</div>

<!-- Container (Sejarah Pengurus) -->
<div class="w3-text-black w3-container w3-padding-64">
  <h3 class="w3-center w3-display-container w3-opacity-min">Tanggapan</h3>
  <p class="w3-center">Dari bertemu Soe Hok Gie, Idjon Djanbi, Habibie dan juga Soekarno, sebelum ada hal yang
    namanya semangat TERRA, terlihat bahwa walaupun namanya belum ada, tetapi tindakannya sudah.<br>
    <br><em>Lakukanlah kewajiban sebagai mahasiswa saat kalian masih disini, jangan kalian 
    gembar-gembor keresahan kalian saat sudah keluar dari kampus. <br> Lakukanlah tanggung jawab kalian sesuai 
    posisi yang kalian punya sekarang dan itulah kalian sebagai mahasiswa.
    <br><br> Izinkan saya memberitahu kepada kalian yang baca ini, bagaimana
    seorang profesor yang menciptakan nama TERRA bertindak saat menjadi mahasiswa dan saat lulus.</em></p><br>

  <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
  <div class="w3-row-padding w3-center">
    <div class="w3-col m3">
      <img src="/public/images/buku tuhan, aku dan alam.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Buku : Tuhan, Aku, dan Alam">
    </div>

    <div class="w3-col m3">
      <img src="/public/images/Khawatir Negara Gagal.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Artikel Pandangan Kondisi Negara">
    </div>

    <div class="w3-col m3">
      <img src="/public/images/Pak daharta dan mt zen bertemu habibie.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Perancis, Habibie dan MT Zen">
    </div>

    <div class="w3-col m3">
      <img src="/public/images/peta zonasi mt zen.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Peta Zonasi Gempa">
    </div>
  </div>

  <div class="w3-row-padding w3-center w3-section">
    <div class="w3-col m3">
      <img src="/public/images/sembilan kesengsaraan rakyat.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Jawaban MT Zen Kepada Soekarno">
    </div>

    <div class="w3-col m3">
      <img src="/public/images/sociopolitica soe hok gie mt zen.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Ungkapan MT Zen dalam PKI">
    </div>

    <div class="w3-col m3">
      <img src="/public/images/soe hok gie mt zen.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Soe Hok Gie, PKI, dan MT Zen">
    </div>

    <div class="w3-col m3">
      <img src="/public/images/Epilog_MTZen.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Epilog MT Zen">
    </div>
    <!-- <button class="w3-button w3-padding-large w3-light-grey" style="margin-top:64px">LOAD MORE</button> -->
  </div>
  <p class="w3-center">Click on the images to make it bigger</p>
</div>

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>

<div class="w3-row w3-padding-32 w3-section">
  <div class="w3-large w3-center">
    <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Terres Des Hommes, Bandung, Indonesia<br>
    <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Phone: +62 12317066<br>
    <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: pourleterres@gmail.com<br><br><br>
</div>

<!-- Third Parallax Image with Portfolio Text
<div class="w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
     <span class="w3-xxlarge w3-text-white w3-wide">CONTACT</span>
  </div>
</div> -->

<!-- Container (Contact Section) -->
<!-- <div class="w3-content w3-container w3-padding-64" id="contact">
  <h3 class="w3-center">The End</h3>
  <p class="w3-center"><em>I'd love your feedback!</em></p>

  <div class="w3-row w3-padding-32 w3-section">
    <div class="w3-col m4 w3-container">
      <img src="../images/273237.jpg" class="w3-image w3-round" style="width:100%">
    </div>
    <div class="w3-col m8 w3-panel">
      <div class="w3-large w3-margin-bottom">
        <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Terres Des Hommes, Bandung, Indonesia<br>
        <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Phone: +62 12317066<br>
        <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: pourleterres@gmail.com<br>
      </div>
      <p>Swing by for a cup of <i class="fa fa-coffee"></i>, or leave me a note:</p>
      <form action="/action_page.php" target="_blank">
        <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
          <div class="w3-half">
            <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
          </div>
          <div class="w3-half">
            <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
          </div>
        </div>
        <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
        <button class="w3-button w3-black w3-right w3-section" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </form>
    </div>
  </div>
</div> -->

<!-- Footer -->
<footer class="bgimg-1 w3-center w3-black w3-padding-64 w3-hover-opacity-off">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <!-- <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i> -->
  </div>
  <p>Powered by <a href="semangat terra" title="TERRA" target="_blank" class="w3-hover-text-green">TERRA</a></p>
</footer>
 
<script>
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}

// Change style of navbar on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 450 || document.documentElement.scrollTop > 450) {
        navbar.className = "w3-bar w3-text-white" + " w3-card"  + " w3-black";
    } else {
        navbar.className = navbar.className.replace(" w3-card w3-black", "");
    }
}

// Used to toggle the mnt on screens when scrolling
// window.onscroll = function() {mnt()};
// function mnt() {
//     var asd = document.getElementById("mnt");
//     if (document.body.scrollTop < 45 || document.documentElement.scrollTop < 45) {
//         asd.className = "w3-row-padding a";
//     } else {
//         asd.className = navbar.className.replace("a", " animate ");
//     }
// }

// Used to toggle the menu on small screens when clicking on the menu button
function toggleFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}

// Used to toggle the menu on documents when clicking on the menu button
function Opendoc() {
    var x = document.getElementById("document");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}

// Used to toggle the progress bar on screens when clicking on the values button
function kekeluargaan() {
  var elem = document.getElementById("kekeluargaan");
  var doc = document.getElementById("dockekeluargaan");
  if (doc.className.indexOf(" w3-light-grey") == -1) {
    doc.className += " w3-light-grey";
    doc.className = doc.className.replace(" w3-light-grey", " w3-deep-orange");
    } else {
      doc.className = doc.className.replace(" w3-light-grey", " w3-deep-orange");
    }
  var width = 1;
  var id = setInterval(frame, 10);
  function frame() {
    if (width >= 50) {
      clearInterval(id);
    } else {
      width++;
      elem.style.width = width + '%';
      elem.innerHTML = width * 1  + '%';
    }
  }
}

function kekeluargaanm() {
  var elem = document.getElementById("kekeluargaan");
  var doc = document.getElementById("dockekeluargaanm");
  if (doc.className.indexOf(" w3-light-grey") == -1) {
    doc.className += " w3-light-grey";
    doc.className = doc.className.replace(" w3-light-grey", " w3-deep-orange");
  } else {
    doc.className = doc.className.replace(" w3-light-grey", " w3-deep-orange");
  }
  var width = 1;
  var id = setInterval(frame, 10);
  function frame() {
    if (width >= 50) {
      clearInterval(id);
    } else {
      width++;
      elem.style.width = width + '%';
      elem.innerHTML = width * 1  + '%';
    }
  }
}

function profesionalitas() {
  var elem = document.getElementById("profesionalitas");
  var doc = document.getElementById("docprofesionalitas");
  if (doc.className.indexOf(" w3-light-grey") == -1) {
    doc.className += " w3-light-grey";
    doc.className = doc.className.replace(" w3-light-grey", " w3-deep-orange");
    } else {
      doc.className = doc.className.replace(" w3-light-grey", " w3-deep-orange");
    }
  var width = 1;
  var id = setInterval(frame, 10);
  function frame() {
    if (width >= 50) {
      clearInterval(id);
    } else {
      width++;
      elem.style.width = width + '%';
      elem.innerHTML = width * 1  + '%';
    }
  }
}

function profesionalitasm() {
  var elem = document.getElementById("profesionalitas");
  var doc = document.getElementById("docprofesionalitasm");
  if (doc.className.indexOf(" w3-light-grey") == -1) {
    doc.className += " w3-light-grey";
    doc.className = doc.className.replace(" w3-light-grey", " w3-deep-orange");
    } else {
      doc.className = doc.className.replace(" w3-light-grey", " w3-deep-orange");
    }
  var width = 1;
  var id = setInterval(frame, 10);
  function frame() {
    if (width >= 50) {
      clearInterval(id);
    } else {
      width++;
      elem.style.width = width + '%';
      elem.innerHTML = width * 1  + '%';
    }
  }
}

function semangat() {
  var elem = document.getElementById("semangat");
  var doc = document.getElementById("docsemangat");
  if (doc.className.indexOf(" w3-light-grey") == -1) {
    doc.className += " w3-light-grey";
    doc.className = doc.className.replace(" w3-light-grey", " w3-deep-orange");
    } else {
      doc.className = doc.className.replace(" w3-light-grey", " w3-deep-orange");
    }
  var width = 1;
  var id = setInterval(frame, 10);
  function frame() {
    if (width >= 110) {
      clearInterval(id);
    } else {
      width++;
      elem.style.width = width + '%';
      elem.innerHTML = width * 1  + '%';
    }
  }
}

function semangatm() {
  var elem = document.getElementById("semangat");
  var doc = document.getElementById("docsemangatm");
  if (doc.className.indexOf(" w3-light-grey") == -1) {
    doc.className += " w3-light-grey";
    doc.className = doc.className.replace(" w3-light-grey", " w3-deep-orange");
    } else {
      doc.className = doc.className.replace(" w3-light-grey", " w3-deep-orange");
    }
  var width = 1;
  var id = setInterval(frame, 10);
  function frame() {
    if (width >= 110) {
      clearInterval(id);
    } else {
      width++;
      elem.style.width = width + '%';
      elem.innerHTML = width * 1  + '%';
    }
  }
}
</script>

</body>
</html>
