<!DOCTYPE html>
<html>
  <head>
    <title>TERRA Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .parallax {
        /* The image used */
        background-image: url('/public/images/Logo_TERRA_ITB.jpg');

        /* Set a specific height */
        min-height: 100px;

        /* Create the parallax scrolling effect */
        background-attachment: scroll;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 900px;
        background-color: #1F1A17;
        }
        html {
            display: flex;
            justify-content: center;
            height: 100%;
            }
            
        body {
        display: flex;
        justify-content: center;
        height: 100%;
        }
        body,div, h1, form, input, p { 
        padding: 0;
        margin: 0;
        outline: none;
        font-family: Roboto, Arial, sans-serif;
        font-size: 16px;
        color: #666;
        }
        h1 {
        padding: 10px 0;
        font-size: 32px;
        font-weight: 300;
        text-align: center;
        }
        p {
        font-size: 12px;
        }
        hr {
        color: #000000;
        opacity: 1;
        }
        .main-block {
        max-width: 500px; 
        min-height: 480px; 
        padding: 10px 0;
        margin: auto;
        border-radius: 5px; 
        border: solid 1px #ccc;
        box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
        background: #ebebeb; 
        }
        form {
        margin: 0 30px;
        }
        .account-type, .gender {
        margin: 15px 0;
        }
        input[type=radio] {
        display: none;
        }
        label#icon {
        margin: 0;
        border-radius: 5px 0 0 5px;
        }
        label.radio {
        position: relative;
        display: inline-block;
        padding-top: 4px;
        margin-right: 20px;
        text-indent: 30px;
        overflow: visible;
        cursor: pointer;
        }
        label.radio:before {
        content: "";
        position: absolute;
        top: 2px;
        left: 0;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #ffffff;
        }
        label.radio:after {
        content: "";
        position: absolute;
        width: 10px;
        height: 6px;
        top: 8px;
        left: 5px;
        border: 3px solid #E52621;
        border-top: none;
        border-right: none;
        transform: rotate(-45deg);
        opacity: 0;
        }
        input[type=radio]:checked + label:after {
        opacity: 1;
        }
        input[type=text], input[type=password] {
        width: calc(100% - 57px);
        height: 36px;
        margin: 13px 0 0 -5px;
        padding-left: 10px; 
        border-radius: 0 5px 5px 0;
        border: solid 1px #cbc9c9; 
        box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
        background: #fff; 
        }
        input[type=password] {
        margin-bottom: 15px;
        }
        #icon {
        display: inline-block;
        padding: 9.3px 15px;
        box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
        background: #1c87c9;
        color: #fff;
        text-align: center;
        }
        #icon:hover{
            background: #E52621;
        }
        .btn-block {
        margin-top: 10px;
        text-align: center;
        }
        button {
        width: 100%;
        padding: 10px 0;
        margin: 10px auto;
        border-radius: 5px; 
        border: none;
        background: #1c87c9; 
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        }
        button:hover {
        background: #E52621;
        }
        /* Turn off parallax scrolling for tablets and phones */
        @media only screen and (max-device-width: 600px) {
        .parallax {
            background-attachment: scroll;
            min-height: 100px;
        }
        }
    </style>
  </head>
  <body class="parallax">
    <!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar" id="myNavbar">
      <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
        <i class="fa fa-bars"></i>
      </a>
      <a href="/" class="w3-bar-item w3-button w3-hover-red">HOME</a>
      <a href="/#terra" class="w3-bar-item w3-button w3-hide-small w3-hover-red"><i class="fa fa-user"></i> TERRA</a>
      <a href="/#documents" class="w3-bar-item w3-button w3-hide-small w3-hover-red"><i class="glyphicon glyphicon-file"></i> DOCUMENTS</a>
      <a href="/#sejarahpenemu" class="w3-bar-item w3-button w3-hide-small w3-hover-red"><i class="fa fa-envelope"></i> MT ZEN</a>
      <a href="./about-me" class="w3-bar-item w3-button w3-hide-small w3-right"><i class=""></i></a>
      <!-- <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-red">
        <i class="fa fa-search"></i>
      </a> -->
    </div>
  
    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
      <a href="/#terra" class="w3-bar-item w3-button" onclick="toggleFunction()">TERRA</a>
      <a href="/#documents" class="w3-bar-item w3-button" onclick="toggleFunction()">DOCUMENTS</a>
      <a href="/#sejarahpenemu" class="w3-bar-item w3-button" onclick="toggleFunction()">MT ZEN</a>
      <!-- <a href="#" class="w3-bar-item w3-button">SEARCH</a> -->
    </div>
</div>

    <div class="main-block">
      <h1>Registration</h1>
        <form id="#register" action="/verify" method="post" class="main-block  w3-content w3-container w3-padding-6">
            <div class="account-type w3-center ">
                <input type="radio" value="Massa" id="radioOne" name="role" checked />
                <label for="radioOne" class="radio">Massa</label>
                <input type="radio" value="Pengurus" id="radioTwo" name="role" />
                <label for="radioTwo" class="radio">Pengurus</label>
                <input type="radio" value="Swasta/Alumni" id="radioThree" name="role" />
                <label for="radioThree" class="radio">Swasta/Alumni</label>
            </div>
            <label id="icon" for="nama"><i class="fas fa-user"></i></label>
            <input type="text" name="nama" id="name" placeholder="Nama" required/>
            <label id='icon' for="nim"><i class="fas fa-arrow-up"></i></label>
            <input type="text" name="nim" pattern="[1]{1}[2]{1}[3]{1}[1-2]{1}[0-9]{1}[0-9]{3}" placeholder="NIM" required/>
            <label id="icon" for="name"><i class="fas fa-unlock-alt"></i></label>
            <input onpaste="return false" type="password" name="password" id="pass" placeholder="Password (Pengurus)" />
            <p>By clicking Register, you agree on our <a href="../public/files/ANGGARAN DASAR DAN ANGGARAN RUMAH TANGGA HIMA TG TERRA ITB Amandemen 2022.pdf">Policy for TERRA</a>.</p>
            <div class="btn-block">
            <button type="submit">Submit</button>
            </div>
        </form>
    </div>

    <script>
        // Used to toggle the menu on small screens when clicking on the menu button
        function toggleFunction() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
        </script>
  </body>
</html>