<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="users/create">
        <button>Create</button>
    </form>
    <form action="users/all-massa">
        <button>View All Massa</button>
    </form>
    <form action="users/create">
        <button>Something</button>
    </form>
</body>
</html>